<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="Opleidingen" connectionString="Server=DESKTOP-S5O65G7\SQLEXPRESS;Database=Opleidingen;Trusted_Connection=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>